.input-phone
  label(for="input-phone") Введите номер Вашего телефона:
  .input-phone__row
    .input-phone__input
      input#input-phone(type="tel", placeholder="+7 ___ ___-__-__")
    .input-phone__lang
      include lang