.lang
  a.js-lang-open
    img(src="img/Russia.png", alt="")
  .lang__list
    .lang__list-table
      a.lang__list-row.js-lang-close
        .lang__list-cell Россия
        .lang__list-cell
          .lang__flag.lang__flag_active
            img(src="img/Russia.png", alt="Россия")
      a.lang__list-row(href="#")
        .lang__list-cell Беларусь
        .lang__list-cell
          .lang__flag
            img(src="img/Belarus.png", alt="Беларусь")
      a.lang__list-row(href="#")
        .lang__list-cell Украина
        .lang__list-cell
          .lang__flag
            img(src="img/Ukraine.png", alt="Украина")