.social
  ul.social__list
    li
      a(href="#")
        i.fab.fa-facebook-f
    li
      a(href="#")
        i.fab.fa-vk
    li
      a(href="#")
        i.fab.fa-youtube
    li
      a(href="#")
        i.fab.fa-instagram
    li
      a(href="#")
        i.fab.fa-odnoklassniki
    li
      a(href="#")
        i.fab.fa-twitter
    li
      a(href="#")
        i.social__add