@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

.catalog__row a {
	color: #000;
}
.catalog__row a:hover {
	text-decoration: none;
	color: #f60;
}

.filter {
	max-width: 990px;
}
.filter__name::after {
	margin-top: -5px;
}
.filter__selected_items .txt {
	margin: 0 0 0 16px;
	padding-top: 9px;
}
.filter__selected_items ul {
	padding-top: 1px;
}
.filter__selected_items .filter__selected_item {
	color: #000;
}
.filter .btn-wave-container {
	padding-top: 2px;
}
.filter__name {
	padding-top: 10px; 
}
.filter__count {
	line-height: 11px;
	z-index: 4;
}
.checkbox .check-cust_i + span, .radio .check-cust_i + span {
	display: inline-block;
	vertical-align: middle;
	padding-left: 5px;
}
.checkbox .check-cust_i, .radio .check-cust_i {
	top: 0;
}
.filter__selected_items .btn {
	width: 157px;
	height: 33px;
	background: #FF6600;
	border: 1px solid #FF6600;
	border-radius: 2px;
	font-size: 14px;	
	text-align: center;
	letter-spacing: 0.4px;
	padding: 0 5px;
	line-height: 31px;
	color: #FFFFFF;
}
.filter__selected_items .btn:hover {
	text-decoration: none;
	color: #FF6600;
	border-color: #FF6600;
	background: #fff;
}

.catalog {
	font-family: 'Lato', sans-serif;
	max-width: 1216px;
	margin: 0 auto;
}
.catalog .container-fluid {
	padding-left: 0;
	padding-right: 0;
}
.catalog__content {
	margin-left: 250px;
	max-width: 990px;
}
.catalog__products {
	border-left: none;
}
.breadcrumbs__list {
	margin-left: 32px;
}
.breadcrumbs__list li {
	font-size: 12px;
	line-height: 14px;	
	letter-spacing: 0.48px;
}
.breadcrumbs__list li::after {
	top: 3px;
}
.breadcrumbs__list li a {
	font-size: 12px;
	line-height: 14px;	
	letter-spacing: 0.48px;	
}
.breadcrumbs__list li a::after {
	background: none;
	border-bottom: 1px dotted #999;
}

.catalog__aside {
	width: 208px;
}
.nav__name {
	font-size: 20px;
	line-height: 24px;
}
.nav ul li > a {
	font-size: 14px;
	line-height: 17px;
	padding: 7px 5px 7px 21px;
}
.nav ul li.nav-drop > a::after, .nav ul li.nav-drop > a::before {
	top: 16px;
}
.nav ul li.nav-drop > a::before {
	width: 9px;
	left: 4px;
}
.nav ul li.nav-drop > a::after { 
	height: 9px;
	margin-top: -4.5px;
	left: 8px;
}
.nav ul li > a.nav-drop-text {
	padding-left: 21px;
	margin-left: 0;
}
.nav ul li > a.nav-drop-expander {
	padding-left: 0;
}
.nav__ul {
	margin-left: 16px;
}
.nav ul ul {
	margin-left: 16px;
}
.nav ul ul a {
	padding-left: 16px;
}
.nav ul li.nav-dot > a::before {
	width: 4px;
	height: 4px;
	border-radius: 2px;
	content: "";
	position: absolute;
	left: 4px;
	top: 14px;
	background: #999;
}

.product__top-right {
	width: 189px;
	padding-left: 15px;
}
.product__top {
	margin-bottom: 12px;
}
.product__bottom {
	margin-top: auto;
}
.product__name {
	letter-spacing: 0.4px;
	font-size: 14px;
	line-height: 17px;
}
.product__name a {
	height: 34px;
}
.product__review a, .product__status-left .status, .product__status .status, .props_product-banner .props__td, .props_product .props__td, .product__spec {
	font-size: 12px;
	line-height: 14px;
}
.product__review a, .product__review a span {
	vertical-align: top;
}
.props_product-banner .props__td, .props_product .props__td {
	padding: 5px 2px 5px 8px;
}
.props__td img {
	width: 12px;
	margin-right: 2px;
	vertical-align: middle;
}
.product__top-top-right {
	margin: 2px 0 0 0;
	min-height: 35px;
}
.product__status .status {
	margin-left: 0;
	padding-left: 14px;
}
.product__status .status::before {
	top: 4px;
	left: 0;
	width: 8px;
	height: 8px;
}
.product__props, .product__image {
	margin: 14px 0 0 0; 
}
.product__image-target {
	height: 107px;
}
.product__pagination {
	opacity: 0;
	transition: 0.2s;
}
.product__gallery:hover .product__pagination {
	opacity: 1;
}
.banner-product-open__price.banner-product-open__price_old {	
	position: relative;
	top: -17px;
}
.banner-product-open__price .price {
	margin-bottom: 0;	
	font-size: 16px;
	line-height: 19px;
	color: #FF6600;
}
.banner-product-open__price .price-old {
	margin-bottom: 3px;	
	font-size: 12px;
	line-height: 14px;
	text-align: right;
	letter-spacing: 0.48px;
}
.product__bottom .product__links .dot-link-one-line .dot-link-one-line__name {
	color: #000;
	font-size: 13px;
	line-height: 16px;
}
.product__bonuses ul {
	display: flex;
	flex-flow: row nowrap;
	list-style: none;
	padding: 0;
	margin: 12px 0 0 0;
	font-size: 12px;
	line-height: 14px;
	width: 100%;
}
.product__bonuses ul li {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin-right: 16px;
}
.product__bonuses ul li a {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}
.product__bonuses ul li:last-child {
	margin-right: 0;
	margin-left: auto;
}
.product__bonuses ul li:nth-child(1), .product__bonuses ul li:nth-child(2) {
	margin-left: 0;
}
.product__bonuses ul li.garant {
	margin-right: 0;
	margin-left: auto !important;
}

.product__bonuses ul li img {
	max-height: 20px;
	margin-right: 6px;
}
.product__bottom_gifts > div {
	display: none;
	flex-flow: row nowrap;
	justify-content: flex-start;	
	align-items: center;
	width: 100%;
	position: absolute;
	bottom: -57px;
	left: 0;
	padding: 20px 19px 13px 19px;
	background: #fff;
	border-bottom: 1px solid #dcdcdc;	
	box-shadow: 0px 6px 6px rgba(255, 102, 0, 0.4);
}
.catalog__product {
	transition: 0.2s;
	border-right: none;
}
.catalog__product .product {	
	position: relative;
	padding: 13px 16px 15px 13px;
}
.catalog__product .product:hover {
	box-shadow: 0px 0px 12px rgba(255, 102, 0, 0.4);
	z-index: 10;
}
.catalog__product .product:hover .product__bottom_gifts > div {
	display: flex;
}
.product__bottom_gifts .txt {
	font-size: 12px;
	line-height: 14px;	
	color: #999999;
	margin-right: 7px;
}
.banner-product-open__gift {
	justify-content: flex-start;
	margin: 0;
}
.banner-product-open__gift .gift {
	width: 64px;
}
.product__action a {
	margin-right: 12px;
	color: #fff;
}
.catalog__product .product_960 {
    display: none
}

/*pagination*/
.modern-page-navigation {
	margin-top: 40px;
	padding: 0;
}
.modern-page-title {
	display: inline-block;
	margin-right: 12px;
	font-size: 14px;
	line-height: 17px;
}
div.modern-page-navigation a, span.modern-page-current {
	width: 32px;
	height: 32px;
	display: inline-block;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	border-radius: 16px;
	margin: 0;
	padding: 0;
	border: 1px solid #fff;
	margin-right: 4px;
	letter-spacing: 0.4px;
}
div.modern-page-navigation a {
	color: #999;
	transition: 0.2s;
}
div.modern-page-navigation a:hover {
	color: #fff;
	background: #FF6600;
	border-color: #FF6600 !important;
}
span.modern-page-current {
	color: #FF6600;
	border-color: #FF6600 !important;
}
div.modern-page-navigation a.modern-page-first, div.modern-page-navigation span.modern-page-first {
	padding-left: 0;
	border-left: 1px solid #fff;
}
div.modern-page-navigation a.modern-page-previous {
	width: auto;
	border: 1px solid #fff;
	padding: 0 8px;
	display: none;
}
.catalog__product .catalog_next_page {
	height: 100%;
	position: relative;
}
.catalog__product .catalog_next_page:hover {
	box-shadow: 0px 0px 12px rgba(255, 102, 0, 0.4);
	z-index: 10;
}
.catalog__product .catalog_next_page .catalog__next {
	width: 100%;
	height: 100%;
	border: none;	
}
.catalog__product .catalog_next_page .catalog__next .product-next__name {
	font-size: 16px;
	line-height: 19px;	
	letter-spacing: 0.4px;
	margin-top: 21px;
}
.catalog__product .catalog_next_page .catalog__next .product-next__icon {
	width: 40px;
	height: 40px;
	border-width: 1px;	
}
.catalog__product .catalog_next_page .catalog__next .product-next__icon::before{
	left: 57%;
	transform: translateY(-50%) translateX(-11px) rotate(135deg);
	width: 12px;
	height: 12px;
}

/*product-page*/
.detail__opt a {
	font-size: 14px;
	color: #000;
}
.detail__opt a:hover {
	text-decoration: none;	
}
.detail .detail__bottom {
	font-family: 'Lato', sans-serif;
	margin-left: -15px;
	margin-right: -15px;
}
.detail .detail__bottom {
	
}
.detail .detail__bottom .tabs a {
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.4px;
	padding-top: 11px;
	padding-bottom: 7px;
	position: relative;
	text-decoration: none;
}
.detail .detail__bottom .tabs a > span {	
	font-size: 9px;
	line-height: 11px;
	letter-spacing: 0.24px;
	top: -10px;
	padding-left: 5px;
}
.detail .detail__bottom .detail-desc {	
	padding: 0;
}
.detail .detail__bottom .desc__item {
	padding-top: 36px;
	padding-bottom: 0;
}
.detail .detail__bottom .desc__item .desc-item__name {
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.36px;
	margin-bottom: 0;
}
.detail .detail__bottom .desc__item .desc-item__text {
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.4px;
	margin: 0 0 20px 0 !important;
}
.detail .detail__bottom .desc__item .desc-item__text p {	
	margin: 10px 0 0 0;
}
.desc-item__text + .desc-item__img, .desc-item__text + .desc-item__slider {
	margin-top: 0;
}
.detail .detail__bottom .desc__item .desc-item__img img {
	max-width: 100%;
}
.detail .detail__bottom .detail-btn {
	margin-top: 41px;
}
.detail .detail__bottom .detail-btn .dot-link-one-line__name {
	display: inline-block;
	line-height: 30px;
	padding-top: 1px;
}
.detail .detail__bottom .detail-btn .dot-link-one-line__name::after {	
	display: none;
}
.detail .detail__bottom .detail-btn a {
	vertical-align: top;
	display: inline-block;
	margin: 0 4px;
	width: 168px;
	height: 33px;
	line-height: 31px;
	border-radius: 2px;
	border: 1px solid #FF6600;
	background: #FF6600;
	font-size: 14px;
	letter-spacing: 0.36px;
	text-align: center;
	padding: 0 5px;
	color: #fff;
	transition: 0.2s;
}
.detail .detail__bottom .detail-btn a.btn_green {
	background: #999900;
	border-color: #999900;
}
.detail .detail__bottom .detail-btn a:hover {
	background: #fff;
	color: #333;
	text-decoration: none;
}
.detail .detail__bottom .detail-ch {
	padding: 0;
	display: flex;
	flex-flow: row wrap;
}
.detail .detail__bottom .detail-ch .detail-ch__item {
	padding: 36px 16px 0 16px;
}
.detail .detail__bottom .detail-ch .detail-ch__item .detail-ch__name {
	padding: 0;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.36px;
	margin-bottom: 16px;
}
.detail .detail__bottom .detail-ch .detail-ch__item .props__table {
	display: block;
}
.detail .detail__bottom .detail-ch .detail-ch__item .props__table .props__tr {
	display: flex;
	flex-flow: row nowrap;
}
.detail .detail__bottom .detail-ch .detail-ch__item .props__table .props__td {
	display: flex;
	align-items: center;
	padding: 9px 4px;
	width: 100%;
	font-size: 14px;
	line-height: 17px;
}
.detail .detail__bottom .detail-ch .detail-ch__item .props__table .props__td img {
	width: 14px;
	margin-right: 8px;
}
.detail .detail__bottom .detail-ch .detail-ch__item .props__table .props__td:first-child {	
	max-width: 120px;
	min-width: 120px;
	width: 120px;
}
.detail .detail__bottom #description {
	position: relative;
}
.detail .detail__bottom .tab-container {	
	position: relative;
}
.detail .detail__bottom .tab-container .detail-bg.detail-bg_1 {	
	top: 0;
	bottom: 0;
	background-size: auto 373px;
	background-position: 0 calc(100% + 69px);
}
.detail .detail__bottom .tab-container .detail-bg.detail-bg_2 {	
	top: 0;
	bottom: 0;
	background-size: auto 383px;
}
.detail .detail__bottom .detail__form {
	width: 100%;
	margin: 91px 0 0 0;
	padding: 0 0 0 416px;
	position: relative;
	z-index: 10;
}
.detail .detail__bottom .detail__form .detail-form__name {
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.36px;
	margin-bottom: 31px;
}
.detail .detail__bottom .detail-form form {
	position: relative;
	top: 11px;
}
.detail .detail__bottom .detail__form .detail-form__text, .detail .detail__bottom .detail__form .detail-form__text2 {
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.4px;
}
.detail .detail__bottom .detail__form .detail-form__col_max {
	width: 256px;
	padding-right: 0;
	margin-right: 15px;
}
.detail .detail__bottom .detail__form .detail-form_2 .detail-form__col_max {
	width: 361px;
	margin-right: 20px;
}
.detail .detail__bottom .detail-form form button {
	background: #FFFFFF;
	border: 1px solid #999999;
	width: 168px;
	height: 39px;
	padding: 0 5px;
	line-height: 37px;
	border-radius: 2px;
	font-size: 14px;
	letter-spacing: 0.4px;
	color: #000000;
	transition: 0.2s;
}
.detail .detail__bottom .detail-form.detail-form_2 form button {
	width: 122px;
}
.detail .detail__bottom .detail-form form button:hover {
	border-color: #f60;
	color: #f60;
}
.detail .detail__bottom .detail__form .input-phone {
	min-width: 252px;
}
.detail .detail__bottom .detail__form .detail-form__count span:first-child {
	font-size: 40px;
	line-height: 48px;
	letter-spacing: 0.32px;
	padding: 0 12px 0 0; 
}
.detail .detail__bottom .satisfaction-index {
	display: flex;
	flex-flow: row wrap;
}
.detail .detail__bottom .satisfaction-index__item {
	margin-right: 56px;
	float: none;
}
.detail .detail__bottom .satisfaction-index__item:last-child {
	margin-right: 0;	
}
.detail .detail__bottom .satisfaction-index__item .satisfaction-index__item-img {
	margin-right: 25px;
	width: 66px;
}
.detail .detail__bottom .satisfaction-index__item .satisfaction-index__item-img img {
	max-width: 66px;
}
.detail .detail__bottom .satisfaction-index__item-info {
	padding-left: 0;
}
.detail .detail__bottom .satisfaction-index__item-info .satisfaction-index__item-percent {
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0.32px;
}
.detail .detail__bottom .satisfaction-index__item-info .satisfaction-index__item-text {
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.4px;
}
.detail .detail__bottom .detail-form__row-bottom {	
	padding: 28px 0 33px 0;
}
.detail .detail__bottom .detail-form__row-bottom .detail-form__col_left {	
	margin-bottom: 28px;
}
.detail .detail__bottom .detail-form__row-bottom .detail-form__col_max {
	width: 330px;
}
.detail .detail__bottom .video-gallery {
	margin-top: 40px;
	display: flex;	
}
.video-gallery__item:nth-child(3), .video-gallery__item:nth-child(4) {
	display: block;
}
.detail .detail__bottom .video-gallery .video-gallery__item {
	width: 304px;
	margin-bottom: 40px;
	height: 171px;
}
.detail .detail__bottom .video-gallery .video-gallery__item .video__content {	
	height: 171px;
}
.detail .detail__bottom .video-gallery .video-gallery__item .video__content-top {
	padding: 13px 15px 0 15px;
}
.detail .detail__bottom .video-gallery .video-gallery__item .video__content-top .video__group {
	font-size: 14px;
	line-height: 17px;
	opacity: 1;	
}
.detail .detail__bottom .video-gallery .video-gallery__item .video__content-bottom {
	padding: 0 15px 13px 15px;
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
}
.detail .detail__bottom .video-gallery .video-gallery__item .video__name {
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.4px;
	max-width: 224px;
}
.detail .detail__bottom .video-gallery .video-gallery__item .video__time {
	font-size: 12px;
	line-height: 14px;
	text-align: right;
	letter-spacing: 0.48px;
	margin-top: auto;
	margin-left: auto;
}
.detail .detail__bottom .video-gallery {	
}
.detail .detail__bottom .video-gallery .video-all {	
	width: 304px;
	height: 171px;
	padding: 0 !important;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	position: relative;
	transition: 0.2s;
}
.detail .detail__bottom .video-gallery .video-all:hover {
	box-shadow: 0px 0px 12px rgba(255, 102, 0, 0.4);
}
.detail .detail__bottom .video-gallery .video-all .video-all__name {	
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.32px;
	color: #000;
}
.detail .detail__bottom .video-gallery .video-all:hover .video-all__name {
	color: #f60;
}
.detail .detail__bottom .video-gallery .video-all:hover .video-all__name::after {
	width: 0;
}
.detail .detail__bottom .video-gallery .video-all .video-all__block svg {	
	width: 40px;
	height: 40px;
	margin-bottom: 13px;
	stroke: #999;
}
.detail .detail__bottom .video-gallery .video-all:hover .video-all__block svg {
	stroke: #f60;
}
.detail .detail__bottom .reviews_product {
	margin-top: 40px;
}
.detail .detail__bottom .reviews-nav {
	margin-bottom: 32px;
}
.detail .detail__bottom .reviews-nav .btn {
	margin-right: 12px;
	height: 33px;;
	padding: 0 24px;
	font-size: 14px;
	line-height: 31px;
	text-align: center;
	letter-spacing: 0.4px;
	color: #000000;
	background: #FFFFFF;
	border: 1px solid #999999;
	border-radius: 2px;
	transition: 0.2s;
}

.detail .detail__bottom .reviews-nav .btn:hover {
	color: #f60;
	border-color: #f60;
}

.detail .detail__bottom .review .review__inner {	
}
.detail .detail__bottom .review .review__inner .review__pic {
	width: 144px;
	padding: 0;
	margin-right: 24px;
}
.detail .detail__bottom .review .review__inner .review__body {	
	width: -webkit-calc(100% - 168px);
	width: calc(100% - 168px);
}
.detail .detail__bottom .review .review__inner .review__body .review__head {
	margin-bottom: 18px;
}
.detail .detail__bottom .review .review__inner .review__body .review__head .review__head-item {	
	padding: 0;
}
.detail .detail__bottom .review .review__inner .review__body .review__head p {	
	font-size: 14px;
	line-height: 17px;	
	letter-spacing: 0.4px;
	color: #000000;
	padding-top: 7px;
}
.detail .detail__bottom .review .review__inner .review__body .review__head .address {
	font-size: 13px;
	line-height: 16px;	
	letter-spacing: 0.4px;
}
.detail .detail__bottom .review .review__inner .review__body .review__head .address svg {	
	height: 12px;
	width: 9.5px;
	margin-right: 6px;
}
.detail .detail__bottom .review .review__inner .review__body .review__head .address .address__text {	
}
.detail .detail__bottom .review .review__inner .review__body .review__head .address .address__country img {	
	width: 14px;
	height: auto;
	margin-right: 8px;
	margin-top: 0;
}

.detail .detail__bottom .review .review__inner .review__body .review__text {	
	margin-bottom: 4px;
	font-size: 12px;
	line-height: 14px;	
	letter-spacing: 0.48px;
}
.detail .detail__bottom .review + .review > .review__inner {	
	padding-top: 32px;
	margin-top: 16px;
}
.detail .detail__bottom .review .review__inner .review__body .review__foot .review__foot-item {	
	margin: 0;
}
.detail .detail__bottom .review .review__inner .review__body .review__foot .review__foot-item a {
	font-size: 14px;
	line-height: 17px;	
	letter-spacing: 0.4px;
	color: #000000;
	text-decoration: none;
}
.detail .detail__bottom .detail-comp {
	padding: 37px 0 0 0;
}
.detail .detail__bottom .detail-comp .detail-comp__item {
	width: auto;
	padding: 0;	
}
.detail .detail__bottom .detail-comp .detail-comp__item ul li {
	padding: 9px 5px 9px 16px;
	font-size: 14px;
	line-height: 17px;	
	letter-spacing: 0.4px;
}
.detail .detail__bottom .detail-comp .detail-comp__item ul li::before {
	width: 4px;
	height: 4px;
	top: calc(50% - 2px);
}

/*Catalog*/

.root-catalog * {
	font-family: 'Lato', sans-serif;
}
.root-catalog-container, .root-catalog-container2, .root-catalog-container-mb0 {
	width: auto;
	margin: 0;
}
.root-catalog .root-catalog__product {
	width: 20%;
	padding: 0;
}
.root-catalog .root-catalog__product .root-catalog__product-name {
	max-width: 190px;
}
.root-catalog .root-catalog__product .root-catalog__product-name h3 {
	font-size: 18px;
	line-height: 22px;	
	letter-spacing: 0.36px;
	color: #000000;
	min-height: inherit;
	margin: 11px 0 17px 0;
}
.root-catalog .root-catalog__product .root-catalog__product-name h3 a, .root-catalog .root-catalog__product li a {
	text-decoration: none;
	color: #000000;
}
.root-catalog .root-catalog__product li {
	font-size: 14px;
	line-height: 17px;	
	letter-spacing: 0.4px;
	color: #000000;
	margin-bottom: 10px;
	padding: 0 0 0 15px;
}
.root-catalog .root-catalog__product li::before {
	width: 4px;
	height: 4px;
	top: calc(50% - 2px);
	left: 3px;
}
.root-catalog .root-catalog__product .dot-link-multi-line__name > * {
	white-space: normal;
	letter-spacing: inherit;
	text-decoration: underline;
	transition: 0.2s;
	border-bottom: none !important;
}
.root-catalog .root-catalog__product .dot-link-multi-line__name > *:hover {
	color: #FF6600;
	text-decoration: none;
}
.root-catalog .root-catalog__product .dot-link-multi-line__name > *::after {
	display: none;
}
.root-catalog .root-catalog__product .root-catalog__popup-img {
	height: 70%
}

@media (max-width: 1899.98px) {
	.product__top-left {
		width: 54%;
	}
	.product__action {
		display: flex;
	}
}

@media (max-width: 1699.98px) {
    .catalog__product {
        width: 50%; 
        border-left: none;
    }
	.catalog__product .product_1920 {
        display: block;
    }
	.catalog__product .product_960 {
        display: none;
    }
	.product__top-left {
		display: block;
	}
	.product__props {
		margin-top: 12px;
	}
}

@media (max-width: 959.98px) {
	.catalog__content {
		margin-left: 0;
	}
	.product__bottom {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		margin-top: auto;
	}
	.product__link {
		text-align: center;
	}
	.banner-product-open__price {
		text-align: left;
}
	.banner-product-open__price .price {
		margin-bottom: 0;
	}
	.catalog__product .product_1920 {
		display: none;
	}
	.product_320 {
		padding-bottom: 17px;
	}
	.menu-panel ul li a.dot-link-one-line {
		padding: 11px 0;
	}
	.menu-panel ul li span {
		line-height: 20px;
		margin-left: 35px;
	}
	.menu-panel__filter span::before {
		content: "";
		position: absolute;
		width: 23px;
		height: 20px;
		left: -35px;
		background: url("/local/templates/kronos/img/svg/filter1.svg") 0 0 no-repeat;
	}
	.menu-panel__share span::before {
		content: "";
		position: absolute;
		width: 17px;
		height: 20px;
		left: -35px;
		background: url("/local/templates/kronos/img/svg/share1.svg") 0 0 no-repeat;
	}
	.catalog__product .product {
		justify-content: space-between;
	}
	.catalog__product .product:hover {
		box-shadow: none;		
	}
	.catalog__product .product:hover .product__bottom_gifts {
		display: none;
	}
	.catalog__product .product_320 {
		padding: 20px 15px 20px 0px;
	}
	.product_320 .product__link .btn {
		width: 100%;		
		height: 35px;
		padding: 0 10px;
		border: 1px solid #999999;
		line-height: 33px;
		font-size: 16px;
		border-radius: 3px;
		transition: 0.2s;
	}
	.product_320 .product__link .btn:hover {
		background: #fff;
		color: #FF6600;
		border-color: #FF6600;
	} 
	.product_320 .product__top {
		margin-bottom: 0;
	}
	.product_320 .banner-product-open__price .price {
		margin-top: 5px;
		font-size: 22px;
		line-height: 26px;
	}
	.banner-product-open__price.banner-product-open__price_old {
		top:0;
		margin-top: 8px;
	}
	.banner-product-open__price .price-old {
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 0.4px;
		text-align: left;
		margin-bottom: 5px;
	}
	.product_320 .product__bonuses ul li.garant {
		margin-left: 0 !important;
	}
	.product_320 .product__bonuses ul {
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.4px;
	}
	.product_320 .product__name {
		font-size: 16px;
		height: auto;
		line-height: 19px;
	}
	.product_320 .product__name a {
		height: auto;
	}
	.product_320 .product__status .status {
		font-size: 14px;
		line-height: 17px;
	}
	.product__bonuses ul {
		flex-flow: column wrap;
		margin: 0;
	}
	.product__bonuses ul li {
		margin: 9px 0 0 0 !important;
		display: none;
	}
	.product__bonuses ul li:first-child {
		display: block;
	}
	.product__bonuses ul li img {
		height: 15px;
		margin-right: 10px;
		float: left;		
	}
	.product__image-mob {
		margin-bottom: 14px;
	}
	.product__bottom_gifts {
		display: none;
	}
	
	.root-catalog .root-catalog__product {
		width: 100%;
		padding-bottom: 15px;
		padding-top: 33px;
	}
	.root-catalog .root-catalog__product .root-catalog__product-name {
		max-width: none;
	}
	.root-catalog .root-catalog__product .root-catalog__product-name h3 {
		font-size: 24px;
		line-height: 29px;
		letter-spacing: 0.32px;
		margin: 18px 0 24px 0;			
	}
	.root-catalog .root-catalog__product li {
		font-size: 20px;
		line-height: 24px;		
		letter-spacing: 0.36px;
	}
}

@media (max-width: 767.98px) {
    .catalog__product .product_960 {
        display: none
    }
}
@media (max-width: 414px) {
    .product__bonuses ul li.garant {
		max-width: 100px;
	}
}
