footer.footer
  .footer__top
    .container
      a(href="#", title="") Почему покупают у нас
      
  .footer__bottom
    .container
      .footer__bottom-row
        .footer__bottom-left
          .footer__triggers
            .triggers.swiper-container.js-swiper
              .swiper-wrapper
                .swiper-slide
                  .trigger-item
                    .trigger-item__normal
                      .trigger-item__icon
                      .trigger-item__content
                        .trigger-item__text 
                          | Бесплатная
                          br
                          | доставка до порога
                        .trigger-item__info-text По всей Беларуси!
                    .trigger-item__hover
                .swiper-slide
                  .trigger-item
                    .trigger-item__normal
                      .trigger-item__icon
                      .trigger-item__content
                        .trigger-item__text Оплата при получении
                    .trigger-item__hover
                .swiper-slide
                  .trigger-item
                    .trigger-item__normal
                      .trigger-item__icon
                      .trigger-item__content
                        .trigger-item__text 100% гарантия возврата денег
                    .trigger-item__hover
                .swiper-slide
                  .trigger-item
                    .trigger-item__normal
                      .trigger-item__icon
                      .trigger-item__content
                        .trigger-item__text Нашли дешевле? Снизим цену!
                    .trigger-item__hover
                      
          .footer__contacts
            .footer__contacts-left
              .footer-logo
                a(href="#", title="")
                  img(src="img/logo.svg", alt="")
            .footer__contacts-right
              .footer__contacts-name Наш склад-магазин:
              .footer__contacts-city Москва
              .footer__contacts-address 
                | Калужское шоссе (22 км от МКАД), Троицк Мирная, 1 
                span &#9679; 
                | 9:00-19:00 (Мск), без выходных 
              .footer__contacts-map
                a.dot-link-one-line(href="#", title="") 
                  .dot-link-one-line__name Карта проезда
              
        .footer__bottom-right
          .footer__bottom-slider.swiper-container.js-swiper
            .swiper-wrapper
              .swiper-slide
                a(href="#", title="", style="background-image: url(img/photo.png)")
                  svg.lupa
                    use(xlink:href="img/sprite-custom.svg#svg-icon-lupa")
                  .footer__bottom-slider-info
                    .footer__bottom-slider-shop Магазин «Пески-1»
                    .footer__bottom-slider-name Вид торгового зала
                    .footer__bottom-slider-pagination Фотография 1 из 14
              .swiper-slide
                a(href="#", title="", style="background-image: url(img/photo.png)")
                  svg.lupa
                    use(xlink:href="img/sprite-custom.svg#svg-icon-lupa")
                  .footer__bottom-slider-info
                    .footer__bottom-slider-shop Магазин «Пески-1»
                    .footer__bottom-slider-name Вид торгового зала
                    .footer__bottom-slider-pagination Фотография 2 из 14
              .swiper-slide
                a(href="#", title="", style="background-image: url(img/photo.png)")
                  svg.lupa
                    use(xlink:href="img/sprite-custom.svg#svg-icon-lupa")
                  .footer__bottom-slider-info
                    .footer__bottom-slider-shop Магазин «Пески-1»
                    .footer__bottom-slider-name Вид торгового зала
                    .footer__bottom-slider-pagination Фотография 3 из 14
              .swiper-slide
                a(href="#", title="", style="background-image: url(img/photo.png)")
                  svg.lupa
                    use(xlink:href="img/sprite-custom.svg#svg-icon-lupa")
                  .footer__bottom-slider-info
                    .footer__bottom-slider-shop Магазин «Пески-1»
                    .footer__bottom-slider-name Вид торгового зала
                    .footer__bottom-slider-pagination Фотография 4 из 14
              .swiper-slide
                a(href="#", title="", style="background-image: url(img/photo.png)")
                  svg.lupa
                    use(xlink:href="img/sprite-custom.svg#svg-icon-lupa")
                  .footer__bottom-slider-info
                    .footer__bottom-slider-shop Магазин «Пески-1»
                    .footer__bottom-slider-name Вид торгового зала
                    .footer__bottom-slider-pagination Фотография 5 из 14
              .swiper-slide
                a(href="#", title="", style="background-image: url(img/photo.png)")
                  svg.lupa
                    use(xlink:href="img/sprite-custom.svg#svg-icon-lupa")
                  .footer__bottom-slider-info
                    .footer__bottom-slider-shop Магазин «Пески-1»
                    .footer__bottom-slider-name Вид торгового зала
                    .footer__bottom-slider-pagination Фотография 6 из 14
              .swiper-slide
                a(href="#", title="", style="background-image: url(img/photo.png)")
                  svg.lupa
                    use(xlink:href="img/sprite-custom.svg#svg-icon-lupa")
                  .footer__bottom-slider-info
                    .footer__bottom-slider-shop Магазин «Пески-1»
                    .footer__bottom-slider-name Вид торгового зала
                    .footer__bottom-slider-pagination Фотография 7 из 14
              .swiper-slide
                a(href="#", title="", style="background-image: url(img/photo.png)")
                  svg.lupa
                    use(xlink:href="img/sprite-custom.svg#svg-icon-lupa")
                  .footer__bottom-slider-info
                    .footer__bottom-slider-shop Магазин «Пески-1»
                    .footer__bottom-slider-name Вид торгового зала
                    .footer__bottom-slider-pagination Фотография 8 из 14
              .swiper-slide
                a(href="#", title="", style="background-image: url(img/photo.png)")
                  svg.lupa
                    use(xlink:href="img/sprite-custom.svg#svg-icon-lupa")
                  .footer__bottom-slider-info
                    .footer__bottom-slider-shop Магазин «Пески-1»
                    .footer__bottom-slider-name Вид торгового зала
                    .footer__bottom-slider-pagination Фотография 9 из 14
              .swiper-slide
                a(href="#", title="", style="background-image: url(img/photo.png)")
                  svg.lupa
                    use(xlink:href="img/sprite-custom.svg#svg-icon-lupa")
                  .footer__bottom-slider-info
                    .footer__bottom-slider-shop Магазин «Пески-1»
                    .footer__bottom-slider-name Вид торгового зала
                    .footer__bottom-slider-pagination Фотография 10 из 14
              .swiper-slide
                a(href="#", title="", style="background-image: url(img/photo.png)")
                  svg.lupa
                    use(xlink:href="img/sprite-custom.svg#svg-icon-lupa")
                  .footer__bottom-slider-info
                    .footer__bottom-slider-shop Магазин «Пески-1»
                    .footer__bottom-slider-name Вид торгового зала
                    .footer__bottom-slider-pagination Фотография 11 из 14
              .swiper-slide
                a(href="#", title="", style="background-image: url(img/photo.png)")
                  svg.lupa
                    use(xlink:href="img/sprite-custom.svg#svg-icon-lupa")
                  .footer__bottom-slider-info
                    .footer__bottom-slider-shop Магазин «Пески-1»
                    .footer__bottom-slider-name Вид торгового зала
                    .footer__bottom-slider-pagination Фотография 12 из 14
              .swiper-slide
                a(href="#", title="", style="background-image: url(img/photo.png)")
                  svg.lupa
                    use(xlink:href="img/sprite-custom.svg#svg-icon-lupa")
                  .footer__bottom-slider-info
                    .footer__bottom-slider-shop Магазин «Пески-1»
                    .footer__bottom-slider-name Вид торгового зала
                    .footer__bottom-slider-pagination Фотография 13 из 14
              .swiper-slide
                a(href="#", title="", style="background-image: url(img/photo.png)")
                  svg.lupa
                    use(xlink:href="img/sprite-custom.svg#svg-icon-lupa")
                  .footer__bottom-slider-info
                    .footer__bottom-slider-shop Магазин «Пески-1»
                    .footer__bottom-slider-name Вид торгового зала
                    .footer__bottom-slider-pagination Фотография 14 из 14
                
            .swiper-button-prev-kronos
              svg
                use(xlink:href="img/sprite-custom.svg#svg-icon-left")
            .swiper-button-next-kronos
              svg
                use(xlink:href="img/sprite-custom.svg#svg-icon-right")
                
                
                
          .footer__bottom-links
            .social-list
              ul
                li
                  a(href="#", title="Facebook") 
                    img(src="img/svg/fb-circle.svg", alt="")
                    span Facebook
                li
                  a(href="#", title="Вконтакте")
                    img(src="img/svg/vk-circle.svg", alt="")
                    span Вконтакте
                li
                  a(href="#", title="YouTube")
                    img(src="img/svg/youtube-circle.svg", alt="")
                    span YouTube
                li
                  a(href="#", title="Instagram")
                    img(src="img/svg/inst-circle.svg", alt="")
                    span Instagram
                li
                  a(href="#", title="Одноклассники")
                    img(src="img/svg/od-circle.svg", alt="")
                    span Одноклассники
                li
                  a(href="#", title="Twitter")
                    img(src="img/svg/twitter-circle.svg", alt="")
                    span Twitter
    