
.detail-triggers__item  img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
}
.detail-triggers__item:hover  img {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  filter: none; /* IE 6-9 */
	
}
.detail .detail-comp__item{width:auto;}
.detail .detail-content{padding: 60px 0;}

.detail .detail-ch{padding:0;}
.detail-sert__item img{width:100%;}